{% extends 'base.html.twig' %}
{% block title %}{{ 'Результат поиска по "%searchText%"'|trans({'%searchText%': searchText}) }}{% endblock %}
{% block body %}
    <div class="gap"></div>
    <h3 class="widget-title-lg">{{ 'Результат поиска по "%searchText%"'|trans({'%searchText%': searchText}) }}</h3>
    <div class="row" data-gutter="15">
        {% if products is not empty %}
            {% include 'product/product_list.html.twig' with {products: products} %}
        {% else %}
            <div class="text-center"><i class="fa fa-cart-arrow-down empty-cart-icon"></i>
                <p class="lead">{{ 'Ничего не найдено'|trans }}</p>
            </div>
            <div class="gap"></div>
        {% endif %}
    </div>
{% endblock %}